/* Codex-comment-header: Styles and visual behavior for this file. */
body {
    background-color: #FFEE8C;
    /* background color */
}

header {
    font-family: 'Times New Roman', serif;
    /* font & color of "Calculator" */
    text-align: center;
    font-size: 0.9rem;
    color: #513B20;
}

table {
    text-align: center;
    /* aligning the entire table */
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
}

button.number {
    font-weight: 500;
    width: 70px;
    /* fixed dimensions of button. Same with button.extra */
    height: 70px;
}

button.extra {
    width: 70px;
    height: 70px;
    font-weight: 600;
}

button.enter {
    font-weight: 800;
    padding: 1.5rem 2.0rem;
    height: 70px;
}

button

/* general button design */
    {
    border: 3px solid;
    border-radius: 6px;
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: center;

    background-color: #F2F6FB;
    /* original colors */
    border-color: #513B20;
}

#ok

/* the emoji */
    {
    font-size: 40px;
    text-align: center;
}

button:hover

/* duck debugger enabled me to discover hover feature */
    {
    border-color: #06402B;
    /* turn green */
    color: #06402B;
    background-color: #80EE80;
}

button.enter:hover {
    border-color: #203354;
    /* turn blue */
    color: #203354;
    background-color: #A1B0CD;
}

.box

/* answer and equation boxes  */
    {
    width: auto;
    /* expandable box */
    height: 50px;
    /* Internet helped me fix dimensions */
    background-color: #F2F6FB;
    border: 2px solid;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    /* ChatGPT taught me exactly what padding was */
}

#bonus {
    /* secret */
    text-align: center;
    font-weight: 100;
}